.exp{
   
   
    margin-left: 30px;
    .experience{
        font-size: 40px;
        color: red;
    }
    .mc{
        display: flex;
        justify-content: space-between;
        .mmc{
            color: red;
        }
        .date{
            margin-top: 85px;
        }
    }
    .hayat{
        display: flex;
        justify-content: space-between;
        .mmc{
            color: red;
        }
        .date{
            margin-top: 85px;
        }
    }
    .business{
        display: flex;
        justify-content: space-between;
        .mmc{
            color: red;
        }
        .date{
            margin-top: 85px;
        }
    }
    .world{
        display: flex;
        justify-content: space-between;
       
        .mmc{
            color: red;
        }
        .date{
            margin-top: 85px;
        }
    }
    .bakixanov{
        display: flex;
        justify-content: space-between;
        .mmc{
            color: red;
        }
        .date{
            margin-top: 85px;
        }
    }
}

