.red{
    border-radius: 70%;
    
    background-color: red;
    }
    .language{
        font-size: 30px;
        color: red;
    }
    .right{
        margin-left: 33px;
    }
    .rus{
        font-size: 30px;
    }
    .english{
        font-size: 30px;
    }
    .educate{
        font-size: 35px;
        color: red;
    }
    .uni{
        font-size: 20px;
        color: red;
    }
    .faculty{
        font-size: 30px;
    }
    .lang{
        display: flex;
        justify-content: space-between;
    }
